display-albums-posts{

  h2{
    color: $green;
    margin-top: $paddingMain;
  }

  .album-post-cnt{
    padding: 20px;
    box-sizing: border-box;

    .item{
      @include card();
      margin-bottom: 20px;

      p{
        margin: 0;
      }
    }

    .item:hover{
      @include cardOnHover();
    }
  }
}
