<breadcrumb></breadcrumb>
<div class="container">
  <!-- create post form -->
  <button ng-click="model.toggleForm()">Add new post!</button>

  <p class="text-center">{{model.feedback}}</p>
  <form ng-hide="!model.formOpen" ng-submit="model.handleForm()">
    <input type="text" ng-model="model.title" placeholder="Title">
    <textarea ng-model="model.body" placeholder="Body"></textarea>
    <input type="submit" value="Send!">
  </form>

  <div class="row">
    <!-- albums -->
    <div class="col-sm-12 col-md-6 album-post-cnt">
      <h2 class="text-center">Albums</h2>
      <div class="row">
        <div ng-link="['Album', {albumId: album.id, id: model.userId}]"
             ng-repeat="album in model.albums" class="item">
          <p class="text-center" >{{album.title}}</p>
        </div>
      </div>
    </div>
    <!-- posts -->
    <div class="col-sm-12 col-md-6 album-post-cnt">
      <h2 class="text-center">Posts</h2>
      <div ng-link="['Post', {postId: post.id, id: model.userId}]"
           ng-repeat="post in model.posts" class="item">
        <p class="text-center">{{post.title}}</p>
      </div>
    </div>
  </div>
</div>
