<div class="container">
  <div class="row">
    <!-- albums -->
    <div class="col-sm-12 col-md-6 album-post-cnt">
      <h2 class="text-center">Albums</h2>
      <div ng-link="['Album', {albumId: album.id, id: model.userId}]"
           ng-repeat="album in model.albums" class="item">
        <h3 class="text-center" >{{album.title}}</h3>
      </div>
    </div>
    <!-- posts -->
    <div class="col-sm-12 col-md-6 album-post-cnt">
      <h2 class="text-center">Posts</h2>
      <div ng-link="['Post', {postId: post.id, id: model.userId}]"
           ng-repeat="post in model.posts" class="item">
        <h3 class="text-center">{{post.title}}</h3>
      </div>
    </div>
  </div>
</div>
