display-albums-posts{

  .breadcrumb-container{
    @include breadcrumbContainer();

    p{
      @include breadcrumbText();
    }
  }

  h2{
    color: $green;
  }

  .album-post-cnt{
    padding: 20px;
    box-sizing: border-box;

    .item{
      @include card();
      margin-bottom: 20px;

      h3{
        margin: 0;
      }
    }

    .item:hover{
      @include cardOnHover();
    }
  }
}
