display-post{
  .breadcrumb-container{
    @include breadcrumbContainer();
    margin-bottom: 30px;

    p{
      @include breadcrumbText();
    }
  }

  .comments{

    .comment{
      @include card();
      cursor: auto;
      margin-bottom: 20px;

      .comment-author{

        h4{

        }
      }
    }
  }
}
