display-post{

  h2{
    margin-top: $paddingMain;
  }
  .post{
    margin-bottom: 30px;
  }

  .comments{

    .comment{
      @include card();
      cursor: auto;
      margin-bottom: 20px;
    }
  }
}
