<breadcrumb></breadcrumb>
<loader ng-hide="model.hideLoader"></loader>
<div class="container">
  <div class="post">
    <h2>{{model.post.title}}</h2>
    <p>{{model.post.body}}</p>
  </div>
  <div class="comments">
    <h3>Comments</h3>
    <div class="row comment" ng-repeat="comment in model.comments">
      <div class="col-xs-12 col-md-4 comment-author">
        <h4>{{comment.name}}</h4>
        <p>{{comment.email}}</p>
      </div>
      <div class="col-xs-12 col-md-8">
        <p>{{comment.body}}</p>
      </div>
    </div>
  </div>
</div>
