display-album{
  
  .breadcrumb-container{
    @include breadcrumbContainer();
    margin-bottom: 30px;

    p{
      @include breadcrumbText();
    }
  }

  .image-cnt{
    margin-bottom: 10px;

    img{
      max-width: 100%;
      height: auto;
    }

    p{
      font-weight: bolder;
    }
  }
}
