display-album{
  h2 {
    margin-bottom: 20px;
  }

  .image-cnt{
    margin-bottom: 10px;
    margin-top: $paddingMain;

    img{
      max-width: 100%;
      height: auto;
    }

    p{
      font-weight: bolder;
    }
  }
}
