<header>
  <div class="container">
    <div class="row">
      <h3 class="col-lg-4" ng-link="['List']">Home</h3>
      <div class="pull-right">
        <input ng-keydown="model.searchEnter($event)" ng-model="model.searchText" type="search">
        <button ng-if="!model.userSearch" ng-link="['Search', {search: model.searchText}]">Search Posts</button>
        <button ng-if="model.userSearch" ng-link="['SearchByUser',
                {id: model.userId, search: model.searchText}]">Search Posts By User</button>
      </div>
    </div>
  </div>
</header>
