<header>
  <div class="container">
    <div class="header-ctn row">
      <div class="header-menu-ctn col-sm-4">
        <span ng-link="['List']">Home</span>
        <span ng-link="['Charts']">Stats</span>
      </div>
      <div class="search-ctn container">
        <input id="search-input" ng-keydown="model.searchEnter($event)" ng-model="model.searchText" type="search">
        <button ng-click="model.searchText = ''" ng-if="!model.userSearch" ng-link="['Search', {search: model.searchText}]">Search Posts</button>
        <button ng-click="model.searchText = ''" ng-if="model.userSearch" ng-link="['SearchByUser',
                {id: model.userId, search: model.searchText}]">Search Posts By User</button>
      </div>
    </div>
  </div>
</header>
