app-header{
  header{
    background-color: $green;
    padding: 10px 0;

    span{
      margin-right:10px;
      cursor: pointer;
      font-weight: bolder;
      color: white;
    }

    .search-ctn{
      text-align: right;
    }
  }
}

@media screen and (max-width: 768px) {
  app-header{

    .header-ctn {
      display: flex;
      justify-content: space-between;

      span {
        font-size: 1.2em;
      }
    }
  }
}

@media screen and (max-width: 475px) {
  app-header{

    .header-ctn {
      display: block;

      .header-menu-ctn{
        text-align: center;
        margin-bottom: 10px;
      }

      .search-ctn{
        text-align: center;
        float: auto !important;

        input, button{
          width: 100%;
        }
      }
    }
  }
}
