users-list{
  padding: $paddingMain;

  h1{
    color: $green;
  }

  .outer-container{
    padding: 20px;
    box-sizing: border-box;
    border-radius: 5px;

    .inner-container{
      @include card();
    }

    .inner-container:hover{
      @include cardOnHover();
    }
  }
}
